* {
  margin: 0;
  padding: 0;
}

nav.navbar {
  width: 100%;
  height: 50px;
  background-color: #011627;
  color: #fdfffc;
}
nav h2 {
  position: absolute;
  padding: 10px;
}

div.n-queen {
  position: relative;
  margin: auto;
  width: 35%;
  height: auto;
}

input.numberbox {
  position: absolute;
  width: 100%;
  top: 25px;
  padding-left: 8px;
  padding-bottom: 4px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
  z-index: 1;
}

input[type="number"]:focus,
input[type="number"]:valid {
  border-bottom: 2px solid #118ab2;
}

label {
  position: absolute;
  top: 0px;
  left: 4px;
  color: #2ec4b6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}

input[type="number"]:focus ~ label,
input[type="number"]:valid ~ label {
  top: 6px;
  left: 0px;
  font-size: 13px;
  color: #118ab2;
  font-weight: 400;
}

.slider-container {
  position: relative;
  top: 20px;
}

.slider {
  -webkit-appearance: none;
  position: absolute;
  top: 43px;
  left: 60px;
  width: 70%;
  height: 5px;
  border-radius: 7px;
  background: linear-gradient(90deg, #e8eddf 60%, #e8eddf 60%);
  cursor: pointer;
  outline: none;
}

#slider-value {
  position: absolute;
  top: 32px;
  right: 25px;
  width: 40px;
  height: 25px;
  padding-top: 3px;
  background-color: #f8961e;
  text-align: center;
  color: #f1faee;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
}

#slider-value::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 30px;
  width: 10px;
  height: 10px;
  transform: translate(-50%) rotate(45deg);
  background-color: #f8961e;
}

/* Google Chrome */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #fa7921;
  border-radius: 50%;
}
.slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  z-index: 1;
  color: #ffba08;
}

/* Mozilla firefox */
.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background-color: #fa7921;
  border-radius: 50%;
}

.slider::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #fa7921;
}

.slider::after {
  content: "SLOW";
  position: absolute;
  top: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #fa7921;
}

.slider::before {
  content: "FAST";
  position: absolute;
  top: 12px;
  right: 0px;
  font-size: 14px;
  font-weight: 500;
  color: #fa7921;
}

.play-button {
  position: relative;
  top: 90px;
  left: 130px;
  border: none;
  outline: none;
  color: #fdfffc;
  width: 85px;
  height: 35px;
  background-color: #f72585;
  border-radius: 10px;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.pause-button {
  position: relative;
  top: 90px;
  left: 150px;
  border: none;
  outline: none;
  color: #fdfffc;
  width: 90px;
  height: 35px;
  background-color: #f72585;
  border-radius: 10px;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.play-button:hover,
.pause-button:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

#n-queen__board {
  position: relative;
  display: flex;
  width: 150%;
  left: -90px;
  flex-wrap: wrap;
  justify-content: center;
}

table {
  position: relative;
  top: 150px;
  border-collapse: collapse;
  margin: 7px;
  align-self: center;
}

td {
  width: 35px;
  height: 35px;
  text-align: center;
}
