* {
  margin: 0;
  padding: 0;
}

nav.navbar {
  width: 100%;
  height: 50px;
  background-color: #011627;
  color: #fdfffc;
}
nav h2 {
  position: absolute;
  padding: 10px;
}

div.n-queen {
  position: relative;
  margin: auto;
  width: 35%;
  height: auto;
}

div.inputbox {
  position: relative;
  top: 15px;
}

.inputbox input {
  width: 100%;
  padding: 6px;
  font-size: 16px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 2px solid #2ec4b6;
  outline: none;
  background: transparent;
}

.inputbox label {
  position: absolute;
  top: 0;
  left: -2px;
  padding: 6px 4px;
  color: #2ec4b6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s;
}

.inputbox input:focus ~ label,
.inputbox input:valid ~ label {
  top: -16px;
  font-size: 14px;
  color: #118ab2;
  font-weight: 400;
}

.slider-container {
  position: relative;
}

.slider {
  -webkit-appearance: none;
  position: relative;
  top: -4px;
  left: 30px;
  width: 70%;
  height: 5px;
  border-radius: 7px;
  background: linear-gradient(90deg, #e8eddf 60%, #e8eddf 60%);
  cursor: pointer;
  outline: none;
}

#slider-value {
  position: absolute;
  right: 55px;
  width: 40px;
  height: 25px;
  padding-top: 3px;
  background-color: #f8961e;
  text-align: center;
  color: #f1faee;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
}

#slider-value::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 30px;
  width: 10px;
  height: 10px;
  transform: translate(-50%) rotate(45deg);
  background-color: #f8961e;
}

/* Google Chrome */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #fa7921;
  border-radius: 50%;
}
.slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  z-index: 1;
  color: #ffba08;
}

/* Mozilla firefox */
.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background-color: #fa7921;
  border-radius: 50%;
}

.slider::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 4px #fa7921;
}

.slider::after {
  content: "SLOW";
  position: absolute;
  top: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #fa7921;
}

.slider::before {
  content: "FAST";
  position: absolute;
  top: 12px;
  right: 0px;
  font-size: 14px;
  font-weight: 500;
  color: #fa7921;
}

.slider-container .play-button {
  position: relative;
  top: 55px;
  left: -200px;
  border: none;
  outline: none;
  color: #fdfffc;
  width: 85px;
  height: 35px;
  background-color: #f72585;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.slider-container .pause-button {
  position: relative;
  top: 20px;
  left: 220px;
  border: none;
  outline: none;
  color: #fdfffc;
  width: 90px;
  height: 35px;
  background-color: #f72585;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.play-button:hover,
.pause-button:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.queen-arrangement {
  position: relative;
  top: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #fa7921;
}
#n-queen-board {
  position: relative;
  display: flex;
  width: 150%;
  top: 40px;
  left: -120px;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 2px solid black; */
}

#n-queen-board div {
  position: relative;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
  border-radius: 3px;
}

table {
  position: relative;
  border-collapse: collapse;
  margin: 10px;
  padding: 10px;
  top: 5px;
  margin-bottom: 10px;
  align-self: center;
}

td {
  width: 35px;
  height: 35px;
  text-align: center;
}

h4 {
  position: relative;
  top: 10px;
  padding: 10px;
  width: 80%;
  background-color: #0582ca;
  align-self: center;
  color: #fdfffc;
  text-align: center;
  border-radius: 4px 4px 0 0;
}
